* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {

}

.title {
    font-family: 'Georgia';
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    margin: 20px 0;
    padding: 0 20px;
    text-align: center;
}

.calendar {
    font-size: 0;
    padding: 30px;
    position: relative;
}

.calendar.is-hidden {
    display: none;
}

.months {
    font-size: 0;
    left: 30px;
    list-style: none;
    position: absolute;
    top: 0px;
}

.month {
    display: inline-block;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 30px;
}

.days {
    font-size: 0;
    left: 0px;
    list-style: none;
    position: absolute;
    top: 30px;
}

.day {
    font-family: 'Comic Sans MS';
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 30px;
}

#canvas {
    background-color: #000;
    border: 1px solid #000;
    height: 930px;
    width: 360px;
}

.key {
    font-size: 0;
    left: 400px;
    list-style: none;
    position: absolute;
    top: 30px;
}

.key__item {
    display: table;
}

.key__item + .key__item {
    margin-top: 20px;
}

.key__colour {
    border: 2px solid #000000;
    display: table-cell;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}

.key__colour--orange {
    background-color: orange;
}

.key__colour--yellow {
    background-color: yellow;
}

.key__colour--blue {
    background-color: blue;
}

.key__colour--green {
    background-color: green;
}

.key__colour--cyan {
    background-color: cyan;
}

.key__colour--red {
    background-color: red;
}

.key__value {
    display: table-cell;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    padding-left: 10px;
    vertical-align: middle;
}

.date {
    bottom: 30px;
    font-family: 'Georgia';
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    left: 400px;
    position: absolute;
}

.forms {
    margin: 20px auto 20px auto;
    max-width: 360px;
    padding: 0 20px;
}

.form {

}

.form + .form {
    margin-top: 40px;
}

.form--login {

}

.form--signup {

}

.forms.is-hidden {
    display: none;
}

.form__email {
    display: flex;
    font-size: 0;
}

.form__email label {
    display: inline-block;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    line-height: 30px;
}

.form__email input {
    appearance: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
    border: none;
    display: inline-block;
    flex: 1 0 auto;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
    margin-left: 20px;
}

.form__email input:focus {
    outline: none;
}

.form__password {
    display: flex;
    font-size: 0;
    margin-top: 10px;
}

.form__password label {
    display: inline-block;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    line-height: 30px;
}

.form__password input {
    appearance: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
    border: none;
    display: inline-block;
    flex: 1 0 auto;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
    margin-left: 20px;
}

.form__password input:focus {
    outline: none;
}

.form__submit {
    margin-top: 20px;
    text-align: right;
}

.form__submit input {
    appearance: none;
    background-color: transparent;
    border: 1px solid #000;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    padding: 10px 20px;
}

.form__submit input:focus {
    outline: none;
}