* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {

}

.title {
    font-family: 'Georgia';
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.calendar {
    font-size: 0;
    padding: 30px;
    position: relative;
}

.calendar.is-hidden {
    display: none;
}

.months {
    font-size: 0;
    left: 30px;
    list-style: none;
    position: absolute;
    top: 0px;
}

.month {
    display: inline-block;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 30px;
}

.days {
    font-size: 0;
    left: 0px;
    list-style: none;
    position: absolute;
    top: 30px;
}

.day {
    font-family: 'Comic Sans MS';
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 30px;
}

#canvas {
    background-color: #000;
    border: 1px solid #000;
    height: 930px;
    width: 360px;
}

.key {
    font-size: 0;
    left: 400px;
    list-style: none;
    position: absolute;
    top: 30px;
}

.key__item {
    display: table;
}

.key__item + .key__item {
    margin-top: 20px;
}

.key__colour {
    border: 2px solid #000000;
    display: table-cell;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}

.key__colour--orange {
    background-color: orange;
}

.key__colour--yellow {
    background-color: yellow;
}

.key__colour--blue {
    background-color: blue;
}

.key__colour--green {
    background-color: green;
}

.key__colour--cyan {
    background-color: cyan;
}

.key__colour--red {
    background-color: red;
}

.key__value {
    display: table-cell;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    padding-left: 10px;
    vertical-align: middle;
}

.date {
    bottom: 30px;
    font-family: 'Georgia';
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    left: 400px;   
    position: absolute;
}

.form {

}

.form--login {

}

.form--signup {
    
}

.forms.is-hidden {
    display: none;
}